.NewsHeader {
    font-size: large;
}

a:link {
    text-decoration: none;
    color: black;
  }

a:hover {
    color: green;
}

a:active {
    text-decoration: underline;
}

.infoTable {
    font-family: Arial;
    font-size: large;
}

.c1 {
    color: red;
}

.c2 {
    color: rgb(0, 255, 0);
}